---
import { formatDateTillHour } from "../utils/date";
import { Refresh } from "../icons";
import H2 from "./H2.astro";
interface Props {
  timestamp?: number;
  title?: string;
  moreHref?: string;
  moreLabel?: string;
}

const { timestamp, title, moreHref, moreLabel } = Astro.props;
---

<div class="flex items-center gap-x-1.5 overflow-hidden mb-4">
  {Astro.slots.has("default") ? <slot /> : <H2 class="shrink-0">{title}</H2>}
  
  <div class="ml-auto flex items-center gap-3">
    {
      !timestamp ? null : (
        <span class="min-w-0 shrink overflow-hidden text-sm whitespace-nowrap text-gray-500 select-none flex items-center gap-1">
          <Refresh class="inline size-[1rem]" />
          <span>{formatDateTillHour(timestamp)}</span>
        </span>
      )
    }
    {
      !moreHref ? null : (
        <a
          class="shrink-0 text-sm whitespace-nowrap text-blue-500 hover:underline hover:underline-offset-4"
          href={moreHref}
        >
          {moreLabel ?? "查看全部"}
        </a>
      )
    }
  </div>
</div>
