---
import { Link as IconLink, Image } from "../icons";
interface Props {
  href: string;
  name: string;
}

const { href, name } = Astro.props;
---

<div class="my-1 flex items-baseline space-x-2">
  {
    Astro.slots.has("default") ? (
      <p class="my-0 font-semibold">
        <slot />
      </p>
    ) : null
  }
  <a class="font-semibold text-sky-800 underline-offset-4 hover:underline" href={href} target="_blank">
    {name}
    {!href ? null : <Image alt={`前往${name}`} class="inline" src={IconLink} />}
  </a>
  {
    Astro.slots.has("extra") ? (
      <p class="text-sm text-gray-500 select-none">
        <slot name="extra" />
      </p>
    ) : null
  }
</div>
